<main class='template'>
  <section>
  <h1>Remove Tool</h1>
  <%= button_to 'Remove this tool from your Shed', @tool, action: "delete", method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </section>

  <article>
    <div class='new-tool white-div'>
      <h1>Edit tool</h1>
      <% if @tool.errors.any? %>
        <% @tool.errors.full_messages.each do |error| %>
          <ul>
            <li class='error-msg'><%= error %></li>
          </ul>
        <% end %>
      <% end  %>

      <% if @tool.image.file? %>
        <img src="<%= @tool.image.url %>">
      <% else %>
        <%= svg @tool.name %>
      <% end %>

      <%= render 'form' %>
    </div>
  </article>

  <aside>
    <%= render '/tags/form' %>

    <h3>Existing Tags:</h3>
    <div>
    <% if !@tags.empty? %>
    <% @tags.each do |tag| %>
      <%=link_to tag_path(tag), :class => "tag-link" do %>
        <span class="label label-default label-primary"><%= tag.name %></span>
      <% end %>
    <% end %>
    </div>
    <% else %>
      <p>No Tags Available</p>
    <% end %>
  </aside>
</main>
