<main class="tools-show">
  <section>
  </section>

  <article>

        <% if @tool.owner == current_user %>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h2><%= @tool.abstract_tool.name.titleize %></h2>
            </div>
            <div class="col-xs-12 col-sm-6">
              <% if @tool.available %>
                  <a href="#"><span class="badge">Current Status: Available</span></a>
              <% else %>
                  <a href="#">Current Status <span class="badge">Unavailable, rented to <%= @tool.line_items.first.rental.renter.username.titleize %> until <%= @tool.line_items.first.rental.return_date %></span></a>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h2>Rent this <%= clean(@tool.name) %></h2>
            </div>
            <div class="col-xs-6 col-sm-3 text-right">
              <h4>Price <span class="label label-default">$<%= @tool.base_price %></span></h4>
            </div>
            <div class="col-xs-6 col-sm-3 text-right">
              <% if @tool.owner != current_user %>
                  <%= link_to user_url(@tool.owner) do %>
                      <button class="btn btn-warning" type="button">
                        Owner <span class="badge"><%= @tool.owner.username %></span>
                      </button>
                  <% end %>
              <% end %>
            </div>
            <div class="col-xs-12">
              <% if @tool.image.present? %>
                <%= link_to image_tag(@tool.image.url(:med)), @tool.image.url %>
              <% end %>
            </div>
          </div>
        <% end %>

      <div class="row top-pad-20">
        <div class="col-xs-12">

          <div class="well">
            <div id="googleMap" address='<%= @tool.owner.zip_code %>'></div>
          </div>
          <div class="text-center alert alert-sm alert-success"><strong>Note:</strong> Map is centered on the tool owner's zip code, not their actual address</div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <div class="form-horizontal">
            <div class="form-group form-group-lg">
              <label class="col-sm-3 control-label" for="formGroupInputLarge">Description</label>
              <div class="col-sm-9">
                <%= @tool.description %>
              </div>
            </div>
            <div class="form-group form-group-lg">
              <label class="col-sm-3 control-label" for="formGroupInputLarge">Model Number</label>
              <div class="col-sm-9">
                <%= @tool.model_number %>
              </div>
            </div>
            <div class="form-group form-group-lg">
              <label class="col-sm-3 control-label" for="formGroupInputLarge"> &nbsp;</label>
              <div class="col-sm-9">
                <% if current_user == @tool.owner %>
                    <%= link_to edit_tool_path(@tool) do %>
                      <p><button class="btn btn-warning">Edit this tool's details</button></p>
                    <% end %>

                    <% if @tool.available %>
                        <%= button_to 'Remove this tool from your Shed', @tool, action: "delete", class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
                    <% end %>
                <% end %>
                <% if current_user %>
                    <% if current_user.has_draft_rental? %>
                        <% if current_user.rented_rentals.draft.first.owner == @tool.owner %>
                            <% if current_user.rented_line_items.any?{ |item| item.tool == @tool }%>
                                You have requested to rent this item.
                            <% else %>
                                <%= form_for @line_item do |f| %>
                                    <%= f.hidden_field :tool_id, value: @tool.id %>
                                    <%= f.submit "Add this tool to your rental from #{@tool.owner.username}" %>
                                <% end %>
                            <% end %>
                        <% else %>
                            You already have an open rental request with another owner. Please complete this transaction through your dashboard before renting this tool.
                        <% end %>
                    <% else %>
                        <% if @rental.errors.any? %>
                            <ul class="error">
                              <% @rental.errors.full_messages.each do |msg| %>
                                  <li><%= msg %></li>
                              <% end %>
                            </ul>
                        <% end %>
                        <% if @tool.owner != current_user%>
                            <%= form_for @rental do |f|%>
                                <%= f.label "checkout_date", class: "checkout-date" %>
                                <%= f.date_field "checkout_date" %><br>
                                <%= f.label "return date", class: "return-date" %>
                                <%= f.date_field "return_date" %><br>
                                <%= f.hidden_field :tool_id, value: @tool.id %>
                                <%= f.submit "Rent this tool", class: "btn btn-primary rental-button"%>
                            <% end %>
                        <% end %>
                    <% end %>
                <% else %>
                    <%= link_to "Login to start renting tools", "#login-modal", :class => "btn btn-success", "data-toggle" => "modal" %>
                    <!--<%= link_to new_user_session_path do %>-->
                        <!--<button class="btn btn-success">Login to start renting tools</button>-->
                    <!--<% end %>-->
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>

  </article>

  <aside>

    <div class="panel panel-default">
      <div class="panel-heading seach-tags">
       Tags
      </div>
      <div class="panel-body">
        <p>
          <%= link_to "Add a tag", edit_tool_path(@tool) if @tool.owner == current_user %>
        </p>
        <% if !@tool.tags.empty? %>
            <% @tool.tags.each do |tag| %>
              <%=link_to tag_path(tag), :class => "tag-link" do %>
                <span class="label label-default label-primary"><%= tag.name %></span>
              <% end %>
            <% end %>
        <% else %>
            <p>No Tags Available</p>
        <% end %>
      </div>
    </div>

  </aside>
</main>
