<main class="section-hidden">
  <section>
  </section>

  <article>
    <% if @tool.owner == current_user %>
      <h2><%= @tool.abstract_tool.name.titleize %></h2>
      <% if @tool.available %>
        <p>Current Status: Available</p>
      <% else %>
        <p>Current Status: Unavailable, rented to <%= @tool.line_items.first.rental.renter.username.titleize %> until <%= @tool.line_items.first.rental.return_date %></p>
      <% end %>
    <% else %>
      <h2>Rent this <%= @tool.abstract_tool.name %></h2>
    <% end %>

    <% if @tool.image.present? %>
      <%= link_to image_tag(@tool.image.url(:med)), @tool.image.url %>
    <% end %>
    <p>Price: $<%= @tool.base_price %></p>
    <% if @tool.owner != current_user %>
      <p>Owner: <%= link_to @tool.owner.username, user_url(@tool.owner) %></p>
    <% end %>
    <p>Description: <%= @tool.description %></p>
    <p>Model number: <%= @tool.model_number %></p>
    <% if current_user == @tool.owner %>
      <%= link_to 'Edit this tool\'s details', edit_tool_path(@tool) %>
      <% if @tool.available %>
        <%= button_to 'Remove this tool from your Shed', @tool, action: "delete", method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
    <% if current_user %>
      <% if current_user.has_draft_rental? %>
        <% if current_user.rented_rentals.draft.first.owner == @tool.owner %>
          <% if current_user.rented_line_items.any?{ |item| item.tool == @tool }%>
            You have already requested to rent this item.
          <% else %>
              <%= form_for @line_item do |f| %>
                <%= f.hidden_field :tool_id, value: @tool.id %>
                <%= f.submit "Add this tool to your rental from #{@tool.owner.username}" %>
              <% end %>
          <% end %>
        <% else %>
          You already have an open rental request with another owner. Please complete this transaction through your dashboard before renting this tool.
        <% end %>
      <% else %>
        <% if @tool.owner != current_user%>
          <%= form_for @rental do |f|%>
            <%= f.label "checkout_date" %>
            <%= f.date_field "checkout_date" %><br>
            <%= f.label "return date" %>
            <%= f.date_field "return_date" %><br>
            <%= f.hidden_field :tool_id, value: @tool.id %>
            <%= f.submit "Rent this tool"%>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to "Log In to start renting tools", new_user_session_path %>
    <% end %>
  </article>

  <aside>
    <h3 class="tags-options">Tags: </h3>
    <p><%= link_to "Add a tag", edit_tool_path(@tool) if @tool.owner == current_user %></p>

    <% @tool.tags.each do |tag| %>
      <p class="tags-display"><%= tag.name %></p>
    <% end %>
  </aside>
</main>
