<hgroup class="dashboard">

</hgroup>

<main class="dashboard">

  <section>
    <ul class="tab">
      <li><a href="#" class="toolshed tabLinks active">Your Toolshed</a></li>
      <li><a href="#" class="rentals tabLinks">Open Rentals</a></li>
      <li><a href="#" class="feedback tabLinks">Feedback</a></li>
      <li><a href="#" class="history tabLinks">Rental History</a></li>
    </ul>

    <div id="toolshed" class="tabContent">
      <div class='flex-container'>
        <% if @owned_tools.any? %>
          <% @owned_tools.each do |tool| %>
            <%= link_to tool_path(tool), data: {turbolinks: false} do %>
              <% if tool.available %>
                <div class='tile'>
                  <% if tool.image.file? %>
                    <img class='tile-pic' src="<%= tool.image.url %>">
                  <% else %>
                    <img class='tile-pic' src="/assets/shovel.png">
                  <% end %>
                  <h4><%= tool.abstract_tool.name %></h4>
                </div>
              <% else %>
                <div class='tile unavailable'>
                  <% if tool.image.file? %>
                    <img class='tile-pic unavailable' src="<%= tool.image.url %>">
                  <% else %>
                    <img class='tile-pic unavailable' src="/assets/shovel.png">
                  <% end %>
                  <h4 class="unavailable"><%= tool.abstract_tool.name %></h4>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <p><%= link_to "Add a tool to your Shed", new_tool_path  %> </p>
    </div>

    <div id="rentals" class="tabContent">
      <div class="flex-container rentals-left">
        <div class='tile p'>
          <p>You are the renter --------></p>
        </div>
        <% if @open_rented_rentals.any? %>
          <% @open_rented_rentals.each do |rental| %>
            <%= link_to rental_path(rental), data: {turbolinks: false} do %>
              <div class='tile <%= rental.status %>'>
                <p class='tile-info'>Owner: <%= rental.owner.username %></p>
                <% if rental.status == "pending" || rental.status == "draft" %>
                  <p class='tile-info'>Total: $<%= rental.sum_line_items %></p>
                <% else %>
                  <p class='tile-info'>Total: $<%= rental.sum_logs %></p>
                <% end %>
                <p class='tile-info'>Status: <%= rental.status %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="horiz-line"></div>

      <div class="flex-container rentals-right">
      <div class='tile p'>
        <p>You are the owner of the tool(s) --------></p>
      </div>
        <% if @open_owned_rentals.any? %>
          <% @open_owned_rentals.each do |rental| %>
            <%= link_to rental_path(rental), data: {turbolinks: false} do %>
              <div class='tile <%= rental.status %>'>
                <p class='tile-info'>Renter: <%= rental.renter.username %></p>
              <% if rental.status == "pending" || rental.status == "draft" %>
                  <p class='tile-info'>Total: $<%= rental.sum_line_items %></p>
                <% else %>
                  <p class='tile-info'>Total: $<%= rental.sum_logs %></p>
                <% end %>
                <p class='tile-info'>Status: <%= rental.status %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="feedback" class="tabContent feedback-content">
      <div class="current-users-received-reviews">
      <h4>Your average rating is <%= @user.average_rating %></h4>
      <h4>Reviews:</h4>
      <% @received_reviews.each do |review| %>
        <section>
          <p><%= review.reviewer.username %> rated you: <%= review.stars %></p>
          <p>They wrote:</p>
          <blockquote>
            <%= review.content %>
          </blockquote>

        </section>
      <% end %>
      </div>
      <div class="users-dealing-with-current-user">
        <h4>Users you have shared tools with:</h4>
        <ul>
          <% @users_shared_with.each do |user| %>
            <li><%= user.username %> - <%= user.average_rating %> average rating<%= button_to "View/give feedback", user_url(user), data: {turbolinks: false} %></li>
            <br>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="history" class="tabContent">
      <% if @all_closed_rentals.any? %>
        <% @all_closed_rentals.each do |rental| %>
          <%= link_to rental_path(rental), data: {turbolinks: false} do %>
            <div class='tile <%= rental.status %>'>
              <p class='tile-info'>Owner: <%= rental.owner.username %></p>
              <p class='tile-info'>Renter: <%= rental.renter.username %></p>
              <p class='tile-info'>Total: $<%= rental.sum_logs %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </section>

  <aside>
     <h3>You have a rental request from:</h3>
     <% if @owned_rentals.any? %>
      <ul>
      <% @owned_rentals.each do |o_rental|  %>
        <% unless o_rental.status == "draft" %><li><%= link_to "#{o_rental.renter.username} -- #{o_rental.status}", rental_path(o_rental), data: {turbolinks: false} %></li><% end %>
      <% end %>
    </ul>
    <% end %>
    <h3>You have open rental requests with:</h3>
    <% if @rented_rentals.any? %>
    <ul>
      <% @rented_rentals.each do |r_rental|  %>
        <li><%= link_to "#{r_rental.owner.username} -- #{r_rental.status}", rental_path(r_rental), method: :get %></li>
      <% end %>
    </ul>
    <% end %>
  </aside>

</main>
