<hgroup class="dashboard">

</hgroup>

<main class="dashboard">

  <section>
    <ul class="tab">
      <li><a href="#" class="toolshed tabLinks active">Your Toolshed</a></li>
      <li><a href="#" class="rentals tabLinks">Open Rentals</a></li>
      <li><a href="#" class="feedback tabLinks">Feedback</a></li>
      <li><a href="#" class="history tabLinks">Rental History</a></li>
    </ul>

    <div id="toolshed" class="tabContent">
      <div class='flex-container'>
        <% if @owned_tools.any? %>
          <% @owned_tools.each do |tool| %>
            <%= link_to tool_path(tool), data: {turbolinks: false} do %>
              <% if tool.available %>
                <div class='tile'>
                  <% if tool.image.file? %>
                    <img class='tile-pic' src="<%= tool.image.url %>">
                  <% else %>
                    <%= svg tool.name %>
                  <% end %>
                  <h4><%= clean(tool.name) %></h4>
                </div>
              <% else %>
                <div class='tile unavailable'>
                  <% if tool.image.file? %>
                    <img class='unavailable' src="<%= tool.image.url %>">
                  <% else %>
                    <%= svg tool.name %>
                    <!--<img class='unavailable' src="/assets/svg/<%= tool.name %>">-->
                  <% end %>
                  <h4 class="unavailable"><%= clean(tool.name) %></h4>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="row top-pad-50 bottom-pad-50">
        <div class="col-xs-12 text-center padding-top">
          <%= button_to "Add a tool to your Shed", new_tool_path, method: :get, class: "btn btn-primary"  %>
        </div>
      </div>
    </div>


    <div id="rentals" class="tabContent">
      <div class="flex-container rentals-left">
        <div class='tile p'>
          <p>You are the renter --------></p>
        </div>
        <% if @open_rented_rentals.any? %>
          <% @open_rented_rentals.each do |rental| %>
            <%= link_to rental_path(rental), data: {turbolinks: false} do %>
              <div class='tile <%= rental.status %>'>
                <p class='tile-info'>Owner: <%= rental.owner.username %></p>
                <% if rental.status == "pending" || rental.status == "draft" %>
                  <p class='tile-info'>Total: $<%= rental.sum_line_items %></p>
                <% else %>
                  <p class='tile-info'>Total: $<%= rental.sum_logs %></p>
                <% end %>
                <p class='tile-info'>Status: <%= rental.status.capitalize %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="horiz-line"></div>

      <div class="flex-container rentals-right">
      <div class='tile p'>
        <p>You are the owner of the tool(s) --------></p>
      </div>
        <% if @open_owned_rentals.any? %>
          <% @open_owned_rentals.each do |rental| %>
            <%= link_to rental_path(rental), data: {turbolinks: false} do %>
              <div class='tile <%= rental.status %>'>
                <p class='tile-info'>Renter: <%= rental.renter.username %></p>
              <% if rental.status == "pending" || rental.status == "draft" %>
                  <p class='tile-info'>Total: $<%= rental.sum_line_items %></p>
                <% else %>
                  <p class='tile-info'>Total: $<%= rental.sum_logs %></p>
                <% end %>
                <p class='tile-info'>Status: <%= rental.status.humanize.split.map(&:capitalize).join(' ') %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="feedback" class="tabContent feedback-content">
      <div class="current-users-received-reviews">
      <h4>Your average rating is <%= @user.average_rating %></h4>
      <h4>Reviews:</h4>
      <% @received_reviews.each do |review| %>
        <section>
          <p><%= review.reviewer.username %> rated you: <%= review.stars %></p>
          <p>They wrote:</p>
          <blockquote>
            <%= review.content %>
          </blockquote>

        </section>
      <% end %>
      </div>
      <div class="users-dealing-with-current-user">
        <h4>Users you have shared tools with:</h4>
        <ul>
          <% @users_shared_with.each do |user| %>
            <li><%= user.username %> - <%= user.average_rating %> average rating<%= button_to "View/give feedback", user_url(user), class: "btn btn-primary", data: {turbolinks: false}, method: :get %></li>
            <br>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="history" class="tabContent">
      <% if @all_closed_rentals.any? %>
        <% @all_closed_rentals.each do |rental| %>
          <%= link_to rental_path(rental), data: {turbolinks: false} do %>
            <div class='tile <%= rental.status %>'>
              <p class='tile-info'>Owner: <%= rental.owner.username %></p>
              <p class='tile-info'>Renter: <%= rental.renter.username %></p>
              <p class='tile-info'>Total: $<%= rental.sum_logs %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </section>

  <aside>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Rentals requiring action</div>
      <% if @rentals_requiring_attention.any? %>
          <ul class="list-group">
            <% @rentals_requiring_attention.each do |rental|  %>
                <<%= link_to rental_path(rental), data: {turbolinks: false} do %>
            <div class='tile <%= rental.status %>'>
              <p class='tile-info'>Owner: <%= rental.owner.username %></p>
              <p class='tile-info'>Renter: <%= rental.renter.username %></p>
              <p class='tile-info'>Total: $<%= rental.sum_logs %></p>
            </div>
          <% end %>
            <% end %>
          </ul>
      <% else %>
        <div class="panel-body">
          <p>You currently have no rentals requiring your attention.</p>
        </div>
      <% end %>
    </div>
  </aside>

</main>
