<h1> User Dashboard AKA Mission Control AKA The Toolbelt </h1>
  <h3>You have a rental request from:</h3>
 <% if @owned_rentals.any? %>
  <ul>
  <% @owned_rentals.each do |o_rental|  %>
    <li><%= link_to o_rental.renter.username, rental_path(o_rental) %></li>
  <% end %>
</ul>
<% end %>
<h3>You have open rental requests with:</h3>
<% if @rented_rentals.any? %>
<ul>
  <% @rented_rentals.each do |r_rental|  %>
    <li><%= link_to r_rental.owner.username, rental_path(r_rental) %></li>
  <% end %>
</ul>
<% end %>

<h2>The Tools you Own</h2>
<% @user.tools.each do |tool| %>
	<a href="<%= tool_path(tool) %>"><p> <%= tool.abstract_tool.name.split.map(&:capitalize).join(' ') %></a> | $<%= tool.base_price %> <%= link_to 'Show', tool_path(tool) %> <%= link_to 'Edit', edit_tool_path(tool) %> <%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
<% end %>
<p> Total: $<%= @user.owner_sum_all_tools || 0 %></p>


<h2>Tools Actively Rented</h2>
<% @user.tools.each do |tool| %>
	<% if tool.available == false %>
		<p> <a href="<%= tool_path(tool) %>"><%= tool.abstract_tool.name.split.map(&:capitalize).join(' ') %></a> | $<%= tool.base_price %> <%= link_to 'Show', tool_path(tool) %> <%= link_to 'Edit', edit_tool_path(tool) %> <%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
	<% end %>
<% end %>
<p> Total: $<%= @user.owner_sum_rented_tools  || 0 %></p>

<h2>Tools Not Currently Being Rented</h2>
<% @user.tools.each do |tool| %>
	<% if tool.available == true %>
		<p> <a href="<%= tool_path(tool) %>"><%= tool.abstract_tool.name.split.map(&:capitalize).join(' ')%></a> | $<%= tool.base_price %> <%= link_to 'Show', tool_path(tool) %> <%= link_to 'Edit', edit_tool_path(tool) %> <%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
	<% end %>
<% end %>
<p> Total: $<%= @user.owner_sum_inactive_tools || 0 %></p>
