<h1> This is a show page </h1>

<h2>The Tools you Own</h2>
<% @user.tools.each do |tool| %>
  <p> <%= tool.abstract_tool.name.split.map(&:capitalize).join(' ') %> | $<%= tool.base_price %> </p>
	<p> <%= tool.id %> </p>
<% end %>
<p> Total: $<%= @user.owner_sum_all_tools || 0 %></p>


<h2>Tools Actively Rented</h2>
<% @user.tools.each do |tool| %>
	<% if tool.available == false %>
		<p> <%= tool.abstract_tool.name.split.map(&:capitalize).join(' ') %> | $<%= tool.base_price %> </p>
	<% end %>
	<% end %>
<p> Total: $<%= @user.owner_sum_rented_tools  || 0 %></p>

<h2>Tools Not Currently Being Rented</h2>
<% @user.tools.each do |tool| %>
	<% if tool.available == true %>
		<p> <%= tool.abstract_tool.name.split.map(&:capitalize).join(' ')%> | $<%= tool.base_price %> </p>
	<% end %>
<% end %>
<p> Total: $<%= @user.owner_sum_inactive_tools || 0 %></p>
<!-- Don't be alarmed by the similarity in data. This is due to seed file. --> 
<h2>Tools Your Renting</h2>
<% @user.rented_line_items.each do |li| %>
    <p> <%= li.tool.abstract_tool.name.split.map(&:capitalize).join(' ')%> | $<%= li.tool.base_price %> </p>
    <p> Picked Up: <%= li.rental.checkout_date %> | Due Back: <%= li.rental.return_date %> </p>
  <% end %>




<h2>Test Area</h2>
<% @user.rented_line_items.each do |li| %>

<p> LI-rental-renter: <%= li.rental.renter_id %></p>
<p> LI-rental-owner: <%= li.rental.owner_id %></p>

<h3> Renter's Tools | ID <%= li.rental.renter_id %></h3>
<% li.rental.renter.tools.each do |tool| %>
<p> ID: <%= tool.id %> Price: <%= tool.base_price %> </p>
<% end %>

<h3> Owner's Tools | ID <%= li.rental.owner_id %> </h3>
<% li.rental.owner.tools.each do |tool| %>
<p> ID: <%= tool.id %> Price: <%= tool.base_price %> </p>
<% end %>

<% end %>

<h3> Temp Links </h3>

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

<%= link_to('Login', new_user_session_path)  %>        