<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>You have a new rental request from <%= @rental.renter.username %></h1>

  <p>They would like to rent your tools from <%= @rental.checkout_date %> through <%= @rental.return_date %>.</p>

  <p>Please either reject this request, or confirm it and set a pickup time range.</p>

  <p>Rental summary:</p>

    <table class="rental-table">
      <tr>
        <th>Tool</th>
        <th>Daily price * <%= @rental.duration %></th>
      <tr>
      <% @rental.line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.tool.abstract_tool.name %></td>
          <td class='align-right'>$<%= line_item.tool.base_price * @rental.duration %></td>
        </tr
        <tr><td colspan=2 class="bottom-line"></td></tr>>
      <% end %>
        <tr>
          <td><strong>Total:</strong></td>
          <td class='align-right'><strong>$<%= @rental.sum_line_items %></strong></td>
        </tr>
      </table>

      <p>Thank you for using ShedSharing!</p>

</body>
</html>
