<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Your rental with <%= @rental.owner.username %> has been confirmed!</h1>

  <p>Rental period: <%= @rental.checkout_date %> - <%= @rental.return_date %></p>

  <p>Please plan to pick up your tool(s) between <%= @rental.pickup_time.strftime("%I:%M%p") %> and <%= @rental.pickup_end_time.strftime("%I:%M%p") %> on <%= @rental.checkout_date %>. The address is <%= @rental.owner.address %>.</p>

  <p>Rental summary:</p>

  <table class="rental-table">
    <tr>
      <th>Tool</th>
      <th>Daily price * <%= @rental.duration %></th>
    <tr>
    <% @rental.line_item_logs.each do |line_item_log| %>
      <tr>
        <td><%= line_item_log.name %></td>
        <td class='align-right'>$<%= line_item_log.price %></td>
      </tr
      <tr><td colspan=2 class="bottom-line"></td></tr>>
    <% end %>
      <tr>
        <td class='align-right'><strong>$<%= @rental.sum_logs %></strong></td>
      </tr>
  </table>

  <p>Thank you for using ShedSharing!</p>


</body>
</html>
