<!DOCTYPE html>
<html>
<head>
  <title>Confirmation of Rental Request</title>
  <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
  <script src="http://maps.googleapis.com/maps/api/js"></script>

  <script>
    $(document).ready(function(){

      var address = $('#googleMap').attr('address');
      console.log('Address =====> ' + address)

      $.ajax({
        url: 'https://maps.googleapis.com/maps/api/geocode/json?address=' + address,
        success: function(response){
          lat = response.results[0].geometry.location.lat;
          lng = response.results[0].geometry.location.lng;
        }
      });

      function initialize() {
        var mapProp = {center:new google.maps.LatLng(lat,lng),
                       zoom:16,
                       mapTypeId:google.maps.MapTypeId.ROADMAP
                       }
        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        var owner_address = new google.maps.LatLng(lat, lng);
        var marker = new google.maps.Marker({
                     position: owner_address,
                     map: map
                     });
      };

      google.maps.event.addDomListener(window, 'load', initialize);
    });
  </script>
  <style type="text/css">
    .rental-table {
      padding: 15px;
      margin: 20px 0px 20px 50px;
      border: 1px solid black;
      box-shadow: -2px 2px 2px black;
    }
    td {
      margin: 0px;
      padding: 5px 5px 5px 0px;
    }
    td.bottom-line {
      border-top: 3px solid black;
    }
    td.align-right {
      text-align: right;
    }
    th {
    text-align: left;
    }
  </style>
</head>
<body>
  <img src="https://s3.amazonaws.com/please-freaking-work-this-time/shedsharing-logo.png" style="width: 320px;">
  <h1>Your rental with <%= @rental.owner.username %> has been confirmed!</h1>

  <p>Rental period: <%= @rental.checkout_date %> - <%= @rental.return_date %></p>

  <p>Please plan to pick up your tool(s) between <%= @rental.pickup_time.strftime("%I:%M%p") %> and <%= @rental.pickup_end_time.strftime("%I:%M%p") %> on <%= @rental.checkout_date %>. The address is <%= @rental.owner.address %>.</p>

  <form action="http://maps.google.com/maps" method="get" target="_blank">
     <input type="hidden" name="saddr" value="<%= @rental.renter.address %>"/>
     <input type="hidden" name="daddr" value="<%= @rental.owner.address %>" />
     <input type="submit" value="Get directions" />
  </form>

  <div id="googleMap" address='<%= @rental.owner.address %>' style="width:500px;height:380px;"></div>

  <p>Rental summary:</p>

  <table class="rental-table">
     <tr>
      <th>Tool</th>
      <th>Price</th>
      <th></th>
      <th>Days</th>
      <th></th>
      <th>Cost</th>
    </tr>
    <% @rental.line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.tool.abstract_tool.name %></td>
        <td class='align-right'>$<%= line_item.tool.base_price %></td>
        <td>*</td>
        <td class='align-right'><%= @rental.duration %></td>
        <td>=</td>
        <td class='align-right'><%= line_item.tool.base_price * @rental.duration %></td>
      </tr>
    <% end %>
    <% @rental.line_item_logs.each do |line_item_log| %>
      <tr>
        <td><%= clean(line_item_log.name) %></td>
        <td class='align-right'>$<%= line_item_log.price %></td>
        <td>*</td>
        <td class='align-right'><%= @rental.duration %></td>
        <td>=</td>
        <td class='align-right'><%= line_item_log.price * @rental.duration %></td>
      </tr>
    <% end %>
    </tr>
    <tr><td colspan='6' class="bottom-line"></td></tr>
    <tr>
      <td colspan='5'><strong>Total:</strong></td>
      <td class='align-right sum-total'><strong>$<%= @rental.sum_logs * @rental.duration %></strong></td>
      </tr>
  </table>

  <p>Thank you for using ShedSharing!</p>


</body>
</html>
