<main class="search">

  <section>
  </section>

  <article>


    <div class="row">
      <div class="col-xs-12">

        <h2>Search Results</h2>
        <h3>We found the following related results: </h3>

        <% if @results.nil? %>
          <p> No matching results found! </p>
        <% elsif @tag.class.to_s == "Tag" %>

          <ul class="list-group">
            <% @results.each do |tt| %>
              <li class="list-group-item">
                <%= link_to tool_path(tt.tool), data: {turbolinks: false} do %>
                  <%= svg(tt.tool.name) %><br>
                  <%= "#{clean(tt.tool.name)}" %> | $<%= tt.tool.base_price %> each day
                <% end %>
              </li>
            <% end %>
          </ul>

        <% elsif !@user_results.nil? %>
          <ul class="list-group">
            <% @user_results.each do |user|%>
              <li class="list-group-item">
                <%= link_to user_path(user) do %>
                  <%= svg('user') %><br>
                  <%= user.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <ul class="list-group">
            <% @results.each do |tool| %>
              <li class="list-group-item">
                <%= link_to tool_path(tool), data: {turbolinks: false} do %>
                  <%= svg(tool.name) %><br>
                  <%= "#{clean(tool.name)}" %> | $<%= tool.base_price %> each day
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>


      </div>
    </div>


  </article>

  <aside>
  	<%= render '/search/search', top_5_tags: @top_5_tags%>
  </aside>

</main>

