<main class="search">

  <section>
  </section>

  <article>


    <div class="row">
      <div class="col-xs-12 col-sm-8">

        <h2>Search Results</h2>
        <h3>We found the following related results: </h3>

        <% if @results.nil? %>
          <p> No matching results found! </p>
        <% elsif @tag.class.to_s == "Tag" %>

          <ul class="list-group">
            <% @results.each do |tt| %>
              <li class="list-group-item">
                <%= svg(tt.tool.name) %><br>
                <%= link_to "#{clean(tt.tool.name)}", tool_path(tt.tool), data: {turbolinks: false} %> | $<%= tt.tool.base_price %> each day
              </li>
            <% end %>
          </ul>

        <% elsif !@user_results.nil? %>
          <ul class="list-group">
            <% @user_results.each do |user|%>
              <li class="list-group-item">
                <%= svg('user') %><br>
                <%= link_to user.username, user_path(user)%>
              </li>
            <% end %>
          </ul>
        <% else %>
          <ul class="list-group">
            <% @results.each do |tool| %>
              <li class="list-group-item">
                <%= svg(tool.name) %><br>
                <%= link_to "#{clean(tool.name)}", tool_path(tool), data: {turbolinks: false} %> | $<%= tool.base_price %> each day
              </li>
            <% end %>
          </ul>
        <% end %>


      </div>
    </div>


  </article>

  <aside>
  	<%= render '/search/search', top_5_tags: @top_5_tags%>
  </aside>

</main>

