<main class="search">

  <section>
  </section>

  <article>
    <h2>Search Results</h2>
    <h3>We found the following related results: </h3>
    <% if @results.nil? %>
      <p> No matching results found! </p>
    <% elsif @tag.class.to_s == "Tag" %>
      <% @results.each do |tt| %>
      <div class="tool-detail-div">
        <p><%= link_to "#{clean(tt.tool.name)}", tool_path(tt.tool), data: {turbolinks: false} %> | $<%= tt.tool.base_price %> each day </p>
        </div>
      <% end %>
    <% elsif !@user_results.nil? %>
      <% @user_results.each do |user|%>
        <p><%= link_to user.username, user_path(user)%></p>
      <% end %>
    <% else %>
      <% @results.each do |tool| %>
        <p><%= link_to "#{clean(tool.name)}", tool_path(tool), data: {turbolinks: false} %> | $<%= tool.base_price %> each day </p>
      <% end %>
    <% end %>
  </article>

  <aside>
  	<%= render '/search/search', top_5_tags: @top_5_tags%>
  </aside>

</main>

