<main class = "user-show">
  <section>
  </section>
  <article>
    <h2><%= @user.username %>'s profile</h2>
    <div class="shown-users-received-reviews">

      <h2>Average rating: <%= @user.average_rating %></h2>
      <h3>Reviews:</h3>

      <% @user.received_reviews.each do |review| %>
        <section class="review-box">
        <p>Rating: <%= review.stars %></p>
         <p><%= review.content %></p>
        </section>
      <% end %>
    </div>
    <div class="shown-users-tools">
      <h3>Available tools</h3>
      <div class="flex-container">
        <% @user.tools.where(available: true).each do |tool| %>
          <%= link_to tool_path(tool), data: {turbolinks: false} do %>

           <div class="tile">
              <% if tool.image.file? %>
                <img class='tile-pic' src="<%= tool.image.url %>">
              <% else %>
                <%= svg tool.name %>
                <!--<img class='tile-pic' src='/assets/shovel.png'>-->
              <% end %>
              <h4><%= clean(tool.name) %></h4>
            </div>

          <% end %>
        <% end %>
      </div>
    </div>
  </article>
  <aside>
    <% if user_signed_in? && current_user.has_rental_history_with?(@user) %>
      <% if !current_user.reviewed_user?(@user) %>
        <%= button_to "Review this user", new_user_review_path(@user), method: :get%>
      <% else %>
        <% review = current_user.given_reviews.find_by(reviewee: @user) %>
        <%= button_to "Edit your review for this user", edit_review_path(review), method: :get, class: 'btn btn-warning' %>
      <% end %>
    <% end %>
  </aside>
</main>
