<main class="rental-show">
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_eNf41km4qob9JPZmiA9C6iyt');
  </script>

  <section>
  </section>

  <article>
    <h2><%= @rental.owner.username.titleize %> (owner) sharing their shed with <%= @rental.renter.username.titleize %></h2>
    <p>Current status: <span class='rental-status'><%= 'In Progress' if @rental.status == 'in_progress' %><%= @rental.status if @rental.status != 'in_progress' %></span></p>
    <% if @rental.scheduled? || @rental.in_progress? %>
      <p>Owner Address: <%= @rental.owner.address %></p>
    <% end %>
    <p>Rental period: <%= @rental.checkout_date %> to <%= @rental.return_date %> (<%= pluralize(@rental.duration, 'day') %>)</p>

    <% if @rental.pickup_time %><p>Pickup time: <%= @rental.pickup_time.strftime("%I:%M%p") %> - <%= @rental.pickup_end_time.strftime("%I:%M%p") %></p><% end %>

    <% if @rental.owner_pick_up_confirmation %><p>Owner has confirmed pickup of tool.</p><% end %>
    <% if @rental.renter_pick_up_confirmation %><p>Renter has confirmed pickup of tool.</p><% end %>

    <% if @rental.owner_return_confirmation %><p>Owner has confirmed return of tool.</p><% end %>
    <% if @rental.renter_return_confirmation %><p>Renter has confirmed return of tool.</p><% end %>

    <% if @rental.status == "scheduled" %>
      <% if current_user == @rental.owner && !@rental.owner_pick_up_confirmation %>
        <%= button_to "Confirm renter has picked up your tool(s)", @rental, method: :patch %>
      <% elsif current_user == @rental.renter && !@rental.renter_pick_up_confirmation %>
        <%= button_to "Confirm that you have picked up the tool(s)", @rental, method: :patch %>
      <% end %>
    <% elsif @rental.status == "in_progress" %>
      <% if current_user == @rental.owner && !@rental.owner_return_confirmation %>
        <%= button_to "Confirm that your tool(s) as been returned", @rental, method: :patch %>
      <% elsif current_user == @rental.renter && !@rental.renter_return_confirmation %>
        <%= button_to "Confirm that you have returned the tool(s)", @rental, method: :patch %>
      <% end %>
    <% end %>

    <table class="rental-table">
      <tr>
        <th>Tool</th>
        <th>Price</th>
        <th></th>
        <th>Days</th>
        <th></th>
        <th>Cost</th>
      </tr>
      <% if @rental.pending? || @rental.draft? %> <!-- Data hasn't been saved yet -->
        <% @rental.line_items.each do |line_item| %>
          <tr>
            <td><%= line_item.tool.abstract_tool.name %></td>
            <td class='align-right'>$<%= line_item.tool.base_price %></td>
            <td>*</td>
            <td class='align-right'><%= @rental.duration %></td>
            <td>=</td>
            <td class='align-right'><%= line_item.tool.base_price * @rental.duration %></td>
            <% if line_item.rental.draft? %>
              <td><%= button_to "Destroy", line_item, method: :delete, data: { confirm: 'Are you sure?'}  %></td>
            <% end %>
          </tr>
        <% end %>
      <% else %> <!-- Transaction is permanent and LI info is logged -->
        <% @rental.line_item_logs.each do |line_item_log| %>
        <tr>
          <td><%= line_item_log.name %></td>
          <td class='align-right'>$<%= line_item_log.price %></td>
          <td>*</td>
          <td class='align-right'><%= @rental.duration %></td>
          <td>=</td>
          <td class='align-right'><%= line_item_log.price * @rental.duration %></td>
        </tr>
        <% end %>
      <% end %>
          </td>
        </tr>
      <tr><td colspan='6' class="bottom-line"></td></tr>
      <tr>
        <td colspan='5'><strong>Total:</strong></td>
          <% if @rental.pending? || @rental.draft? %> <!-- Data hasn't been saved yet -->
            <td class='align-right'><strong>$<%= @rental.total_tool_price * @rental.duration %></strong></td>
          <% else %> <!-- Transaction is permanent and LI info is logged -->
            <td class='align-right'><strong>$<%= @rental.sum_logs * @rental.duration %></strong></td>
          <% end %>
      </tr>
    </table>
    <% case @rental.status %>
      <% when "draft" %>
        <%= button_to "Submit request", @rental, method: :patch %>
        <%= button_to "Cancel this Rental Request", @rental, method: :delete, data: { confirm: 'Are you sure?' }, class: 'cancel-btn rental-request-btn' %>
      <% when "pending" %>
        <div class='flex-btn-box inline'>
          <% if current_user == @rental.owner %>
            <div>
              <%= form_for @rental do |f| %>
                <p class='time-range-p'>Time range you will be available for the <%= pluralize(@rental.line_items.count, 'tool') %> to be picked up:</p>
                <span class='form-label'><%= f.label "From" %></span>
                <%= f.time_select "pickup_time", prompt: {hour: '11', minute: '00'} %>
                <span class='form-label'><%= f.label :to, "to" %></span>
                <%= f.time_select "pickup_end_time", prompt: {hour: '13', minute: '00'} %><br>
                <%= f.submit "Approve this rental", class: 'approve-btn rental-request-btn' %>
              <% end %>
              <% if @rental.errors.any? %>
                <% @rental.errors.full_messages.each do |msg| %>
                  <%= msg %>
                <% end %>
              <% end %>
            <% end %>
              
            </div>
          </div>

            <%= button_to "Cancel this Rental Request", @rental, method: :delete, data: { confirm: 'Are you sure?' }, class: 'cancel-btn rental-request-btn', form_class: 'cancel-form' %>

        </div>
      <% when "in_progress" %>
      <% if @rental.renter == current_user %>
                <%= form_tag charges_path, :class => "stripe-form" do %>
                  <%= hidden_field_tag "amount", "#{(@rental.total_tool_price * @rental.duration)}", class: "hidden" %>
                  <div>
                    <% if flash[:error].present? %>
                      <div id="error_explanation">
                        <p><%= flash[:error] %></p>
                      </div>
                    <% end %>
                  </div>

                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Tool Rental via Shed Sharing, Owner: <%= @rental.owner.id %>"
                  data-amount="<%= ((@rental.total_tool_price * @rental.duration).to_s + '00').to_f %>"
                  data-locale="auto"></script>
                <% end %>
             <% end %>

        <%=form_tag charges_path, :class => 'stripe-form-test' do %>
          <div id="error_explanation">
            <% if flash[:error].present? %>
                <p><%=flash[:error] %></p>
            <% end %>
          </div>
          <div>
            <%=label_tag(:amount, 'Amount:') %>
            <%=text_field_tag(:amount) %>
          </div>      
          <div>
            <%=hidden_field_tag(:stripeToken) %>
          </div>
          <button id='donateButton'>Donate</button>
      <% end %>     
    <% end %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
      var handler = StripeCheckout.configure({
        key: '<%=Rails.configuration.stripe[:publishable_key] %>',
        locale: 'auto',
        name: 'Shed Sharing',
        description: 'One-time donation',
        token: function(token) {
          $('input#stripeToken').val(token.id);
          $('form').submit();
        }
      });
      $('#donateButton').on('click', function(e) {
        e.preventDefault();
        var amount = $('input#amount').val();
        amount = amount.replace(/$/g, '').replace(/,/g, '')
        amount = parseFloat(amount);

        amount = amount * 100; // Needs to be an integer!
        handler.open({
          amount: Math.round(amount)
        })
      });  

      // Close Checkout on page navigation
      $(window).on('popstate', function() {
        handler.close();
      });
    </script>
  </article>

  <aside>
  </aside>
</main>
