<main class="tag-show">

  <section>
  </section>

  <article>
    <div class="row">
      <div class="col-xs-12">
        <h2><%= @tag.name %></h2>
        <h3>Tools Related to this tag: </h3>
        <div>
          <ul class="list-group">
            <% @tag.tools.each do |tool| %>
                <li class="list-group-item">
                  <% if !tool.name.nil? %>
                    <%= svg(tool.name) %><br>
                    <%= link_to "#{clean(tool.name)}", tool_path(tool), method: :get %> | $<%=tool.base_price %> per day
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  </article>

  <aside>
    <%= render '/search/search' %>
  </aside>

</main>