<main class="abstract-tools">
  <section>
  </section>

  <article>
    <div class="row">
      <div class="col-xs-12 col-sm-8"><h2>Pick a Tool to Rent </h2></div>
    </div>
    <ul class="tool-div">
      <% @available_abstract_tools.each do |ab_tool| %>
        <li>
          <%= link_to abstract_tool_path(ab_tool) do %>
            <%= svg ab_tool.name %>
            <h4><%= ab_tool.name %></h4>
        <% end %>
        </li>
      <% end %>
    </ul>

  </article>

  <aside>
    <div class="panel panel-default">
      <div class="panel-heading seach-tags">

      </div>
      <div class="panel-body">
        <% if !user_signed_in? %>
            <h4 class="text-center text-success"><%= link_to "Sign up now to start renting tools!", "#signup-modal", "data-toggle" => "modal" %></h4>
        <% end %>
      </div>
    </div>


    <%= render '/search/search' %>
  </aside>
</main>