<!DOCTYPE html>
<html>
<head>
  <title>ShareShed</title>
  <%= stylesheet_link_tag    '//cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css'%>
  <%= stylesheet_link_tag    '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <a href="/"><img class='logo' src="/assets/logo.jpg"></a>
  <nav>
    <ul>
        <li><%= link_to "Find a Tool to Rent", abstract_tools_path, method: :get %></li>
      <% if user_signed_in? %>
        <li>Hello, <%= current_user.username %></li>
        <li><%= link_to "Dashboard", dashboard_path(current_user), method: :get %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log in", new_user_session_path, method: :get %></li>
        <li><%= link_to "Sign up", new_user_registration_path, method: :get %></li>
      <% end %>
    </ul>
  </nav>
</header>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :class => "flash_#{name}" %>
<% end %>
<%= yield %>

<footer>
  <p>&copy;ShedSharing 2016</p>
  <nav>
    <ul>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/terms">Terms and Conditions</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
  </nav>
</footer>

</body>
</html>
